<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
	<div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Book</h1>
            
            

            		
	                    
	                    <div class="col-lg-6">
	                    	<h3 th:text="${book.title}"> </h3>
	                  
                		</div>
            		
	                   
	                    <div class="col-lg-6">
	                    	<h3 th:text="${book.author}"> </h3>
	                    </div>
                	
            		
            	

          </div>
        </div>
      </div>
	</div>

</body>
</html>